@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f5f5;
  font-family: "Roboto";
  width: 100vw;
  height: 100vh;
  overflow-x: hidden !important;
}

html {
  overflow-x: hidden !important;
}

.menu-open {
  overflow: hidden !important;
}

@supports (-moz-appearance: none) {
  .firefox-text-4xl {
    font-size: 2.3rem;
  }
}
